body {
  background-color: #333;
}



.mapcanvas {
  /* float: left; */
  /* width: 500px;
  height: 960px; */
}

path.sfmappath {
  fill: lightgray;
  stroke: lightgray;
}

path.sfmapdistrictpath {
  stroke: rgb(217, 255, 0);
  fill-opacity: 0.1;
  z-index: 0;
}
.foreground {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}
.timestamp {
  position: fixed;
  text-align: left;
  float: right;
  padding: 2px;
  margin-bottom: 20px;
  font-size: 40px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  z-index: 1;
}
.tooltip {
  position: absolute;
  /* float: right; */
  margin-left: 80%;
  text-align: left;
  width: 300px;
  height: 215px;
  padding: 2px;
  font: 12px sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  float: right;
  margin-top: 20px;
  z-index: 0;
}

.chartsTable {
  /* visibility: visible; */
  /* position: absolute; */
  /* float: right; */
  /* margin-left: 80%; */
  /* text-align: left;
  width: 300px;
  height: 200px;
  padding: 2px;
  font: 12px sans-serif;
  
  pointer-events: none;
  float: right;
  margin-top: 5%;
  z-index: 10; */
  float: left;
  /* position: absolute; */
  width:20%;
  margin-top: 5%;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  border: 0px;
  border-radius: 8px;
}

circle.incidents {
  stroke: black;
  stroke-width: 1px;
  fill: red;
}


.dateInputForm {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background: wheat;
}

.dateInputForm label {
  margin: 10px;
}

.dateInputForm input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.dateInputForm input[type=submit] {
  padding: 10px 20px;
  background-color: lightskyblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.dateInputForm input[type=submit]:hover {
  background-color: royalblue;
}

@media (max-width: 800px) {
  .dateInputForm input {
    margin: 10px 0;
  }
  
  .dateInputForm {
    flex-direction: column;
    align-items: stretch;
  }
}
